

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




         body {
                padding-top: 50px;
                padding-bottom: 20px;
				font: 15px georgia;
            }
            
            div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    padding: 4px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465C71;
    color: #CFDBE6;
    text-decoration: none;
}

            a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}
            
            

.large-link
{
    height: auto;
    line-height: normal;
    vertical-align: middle;
}


 #sidebar.affix-top {
    position: static;
    margin-top:60px;
    width:15%;
  }

  #sidebar.affix {
    position: fixed;
    top:60px;
    width:15%;
  }

.sidebar-nav-fixed
{
    overflow: auto;
    position: fixed;
    top: 70px;
    width: 15%;
    height: inherit;
}
 
@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
} 
			
			.axis path,
			.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
			}
			
			.bar {
			fill: steelblue;
			}

			.x.axis path {
			display: none;
			}	
			












